* { box-sizing: border-box; }
html, body { height: 100%; }
#wrap { height: 100%; }
	#wrap.loading { background: url('../img/loading.gif') no-repeat center 132px; }
#notFooter { min-height: calc(100% - 300px); }

body { font-size: 18px; line-height: 150%; font-family: 'Open Sans', sans-serif; }
p { margin-bottom: 15px; }

.search input {
	display: block;	width: 100%; height: 132px; padding: 30px 120px 30px 60px; 
	border: 0;
	font-size: 24px; vertical-align: middle;
}
.search input:focus { outline: none; }

.result { float: left; width: 50%; margin: 0; padding: 0; border-top: 1px solid #eee; }
.result a { display: block; position: relative; height: 160px; padding: 30px; color: #333; }
	.result a:hover { background: #eee; text-decoration: none; }
	.result a:hover .glyphicon { display: block; }
.result .img-wrap { float: left; margin-right: 30px; width: 200px; height: 100px; overflow: hidden; }
	.result img { width: 100%; }
.result .title { 
	position: relative; top: 50%; transform: translateY(-50%);
	display: block; margin-left: 130px; padding-right: 60px;
	font-size: 24px; text-transform: capitalize; }
	.result .title .glyphicon { position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: #fff; font-size: 60px; }

.recipe h3 { margin-bottom: 15px; }

.recipe .header { padding: 15px 60px; border-top: 1px solid #eee; }
	.recipe .header .img-wrap { display: block; width: 100%; height: 200px; overflow: hidden; }
	.recipe .header img { width: 100%; position: relative; transform: translateY(-50%); }

.recipe .ingredients, .recipe .steps { float: left; margin: 0; padding: 15px 60px; }
.recipe .ingredients { width: 40%; }
.recipe .steps { width: 60%; }
	.recipe .step { display: block; color: #333; text-decoration: none; line-height: 48px; }
		.recipe .step:hover { background: #eee; }
		.recipe .active.step, .recipe .active.step:hover { background: gold; }


#footer { background: #eee; }
#footer .padder { height: 300px; padding: 30px; }
#footer .get-involved .padder { color: #fff; background: #31b0d5; }
#footer .get-involved .text-primary { color: #333; }
#footer .get-involved p { margin: 30px 0; }

#feedbackModal .modal-dialog { width: 700px; }
.modal-header, .modal-body { padding: 30px; }
.modal-body img { max-width: 100%; height: auto; }
.modal-body .glyphicon { font-size: 36px; margin-right: 10px; }